{% extends "../main.html" %}

{% block title %}Source Code Market{% end %}

{% block header %}
<script src="/static/js/pages/upgrades/source_code_market.js"></script>
{% end %}

{% block modals %}
    <div id="buy-source-code-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Acheter le code source</h3>
        </div>
        <div class="modal-body">
            <form id="buy-source-code-form" class="form-horizontal" action="/source_code_market" method="post">
                {% raw xsrf_form_html() %}
                <input id="buy-source-code-uuid" type="hidden" name="box_uuid" value="" />
            </form>
            <p id="buy-source-code-dialog">
                AÊtes-vous sûr de vouloir acheter ce code?
            </p>
            <br />
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Fermer</a>
            <button id="buy-source-code-submit" class="btn btn-primary" type="button">
                Acheter
            </button>
        </div>
    </div>
{% end %}

{% block content %}
    <div class="container">
        <h1>
            <i class="fa fa-fw fa-code"></i>
            Marché du code source
        </h1>
        <br />
        {% if errors is not None and len(errors) != 0 %}
            {% for error in errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <h4 class="alert-heading">ERREUR</h4>
                    {{ error }}
                </div>
            {% end %}
        {% end %}
        <div class="well">
            {% if len(boxes) == 0 %}
                <br />
                <h4 style="text-align:center;">Aucun code source à vendre à ce moment-ci</h4>
                <br />
            {% else %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Machine</th>
                            <th>Nieau</th>
                            <th>Prix</th>
                            <th>Nom Fichier</th>
                            <th>Checksum</th>
                            <th><!-- Buy/Download --></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, box in enumerate(boxes) %}
                            <tr>
                                <td>{{ index + 1 }}</td>
                                <td>{{ box.name }}</td>
                                <td>{{ box.game_level.number }}</td>
                                <td>${{ box.source_code.price }}</td>
                                {% if len(box.source_code.file_name) < 25 %}
                                    <td>{{ box.source_code.file_name }}</td>
                                {% else %}
                                    <td>{{ box.source_code.file_name[:25] + "..." }}</td>
                                {% end %}
                                <td>{{ box.source_code.checksum }}</td>
                                {% if box.source_code in user.team.purchased_source_code %}
                                    <td>
                                        <a id="download-source-code-button{{ index }}" class="btn btn-mini btn-success" data-toggle="modal" data-uuid="{{ box.uuid }}">
                                            <i class="fa fa-fw fa-download"></i>
                                            Télécharger
                                        </a>
                                    </td>
                                {% else %}
                                    <td>
                                        <a id="buy-source-code-button{{ index }}" class="btn btn-mini" data-toggle="modal" href="#buy-source-code-modal" data-uuid="{{ box.uuid }}" data-price="{{ box.source_code.price }}">
                                            Acheter le code source
                                        </a>
                                    </td>
                                {% end %}
                            </tr>
                        {% end %}
                    </tbody>
                </table>
            {% end %}
        </div>
    </div>
{% end %}